body{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #f4f4f4;
}
#sidemenu{
	display: display;
	}
.header a
{
	background: center center no-repeat transparent;
	background-image: url('../img/sidenav-icon.png');
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
.header a.right
{
	left: auto;
	right: 10px;
}
/***** header customized*******/
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	/*background-color: #D8C012;*/
	transition:all 0.6s linear;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #D8C012;
	
	transition:all 0.3s linear;
}
.navbar-inverse {
	border-color: #FFFFFF;
}
/* .navbar-collapse.in {
	overflow-y: visible;
} */
a.logo-batch {
/* background-color: #837F80; */
background-image: url('../img/logo.png');
background-position: 0% 40%;
background-repeat: no-repeat;
border-radius: 30px;
width: 60px;
height: 60px;
margin: 6px;
/* line-height: 7px; */
/* font-size: 1.8em; */
color: #fff !important;
font-family: serif;
margin-left: 13px;
/* padding-left: 13px; */
text-indent: -9999px;
transition:all 0.5s linear;
}

.navbar-inverse .navbar-brand:hover{
	background-position: 100% 40%;
}
.navbar-nav {
margin-top: 10px;
margin-left: 10px;
}
.container {
	padding-top: 40px;
	padding-bottom: 50px;
}
a.list-group-item:hover{
background: #e36; 
color:#fff;
transition:all 0.8s ease;

}
a.list-group-item:hover{
transition:all 0.6s ease;
padding-left:11px;
}
.table {
margin-bottom: 0;
}
.table tr td:first-child{	width: 20%;
}
@media all and (max-width:780px){
	/* .navbar-collapse.in {
		overflow-y: visible;
		text-align: center;
		padding-top: 50px;
	}
	.pull-right {
		float: none!important;
	} */
}