<div ng-controller="ExpCtrl" id="experienceCtrl">
	<h2>Career Experience</h2>
	<div ng-repeat="exp in experience">
		<div class="panel panel-default">
			<div class="panel-heading">{{exp.cname}}</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tbody>
						<tr>
							<td>Company Name</td>
							<td>{{exp.cname}}</td>
						</tr>
						<tr>
							<td>Experience</td>
							<td>{{exp.experience}}</td>
						</tr>
						<tr>
							<td>Role</td>
							<td><b>{{exp.role}}</b></td>
						</tr>
						<tr>
							<td>Skills</td>
							<td>{{exp.skills}}</td>
						</tr>
						<tr>
							<td>Responsibilities</td>
							<td>{{exp.responsibility}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>